        .audi-q3 {
            float: right;
            height: 356px;
            width: 267px;
            margin-left: 10px;
        }

        .row .cols-sample-area {
            padding: 25px;
            margin-bottom: 50px;
        }
#btnOpen {
    position: absolute;
    display: none;
    margin: 10px;
}
        .content {
           min-height: 356px;
            text-align: justify;
        }

        h1 {
            margin: 0 0 10px 0;
        }

        .img {
            margin-bottom: 10px;
        }

        #basicDialog {
            padding: 15px;
        }