      #dialogIcon span {
            color: skyblue;
        }

        .dialogIcons {
            height: 500px;
        }

        .row .cols-sample-area {
            padding: 25px;
            margin-bottom: 50px;
            position: relative;
            overflow: hidden;
        }
       #btnOpen {
         position: absolute;
         display: none;
         margin: 10px;
        }
        #dialogIcon {
            padding: 10px;
            text-align: justify;
        }

            #dialogIcon .cnt {
                padding-top: 5px;
            }