div.image {
    text-align: center;
    width: 100%;
}

img {
    width: 30px;
    height: 30px;
    opacity: 0.5;
}

.caption {
    display: block;
    opacity: 0.5;
    overflow: hidden;
}

.columntop{
    top:5px;
}