<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".md" mimeType="text/markdown" />
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType=" application/json" />
        </staticContent>

		<defaultDocument enabled="true">    <!-- this line enables default documents for a directory -->
         <files>      
            <clear/>     <!-- removes the existing default document list -->                
            <add value="index.html"/>     
         </files>
      </defaultDocument>     
	  
    </system.webServer>
	
	 <system.web>                                                                 
        <compilation debug="true" targetFramework="4.0" />                       
        <urlMappings enabled="true">                                             
            <add url="~/" mappedUrl="~/index.html" />                
        </urlMappings>                                                           
    </system.web>
</configuration>
