.imgframe {
    background: url("http://js.syncfusion.com/demos/web/content/images/menu/menu-bg.png") no-repeat scroll 0 0 transparent;
    width: 555px;
    height: 213px;
    background-size:100% 100%;
}