  .e-splitter{
        display: block;
    }
        .panecontent {
            padding: 10px 0 0 10px;
            text-align: center;
        }

@media (max-width: 1920px) and (min-width: 1024px){
.row .cols-sample-area {
    min-height: 406px;
}
}

.row .cols-sample-area {
    background-color: white;
    margin-bottom: 25px;
    padding: 25px;
    min-width: 250px;
}