
.row [class*="cols-"]:first-child > div:first-child {
    margin: 0 auto;
}
.frame {
    padding: 30px 20px;   
    color: #5C5C5C;
    width:350px;
    margin: 0 auto;
}
#property-window .row{
    padding: 20px 0px;
}
table{
    width:100%;		
}
td {
    padding: 5px;
}
div.paybill{
    position:relative;
    float:right;
}
#error{
    padding-left: 15px;
}
@media (max-width: 440px){
.frame{
    width: auto !important;    
   }
}
