ej-pivot-grid {
    display: block;
    height: 450px;
    width: 100%; 
    overflow: auto;
    float:left;
    margin: 20px 0px 0px 20px;
    position: relative !important;
}

.e-ddl{
    float: left;
}