.eimg {
    margin: 0;
    padding: 3px 10px 3px 3px;
    border: 0 none;
    width: 60px;
    height: 60px;
    float: left;
}

.ename {
    font-weight: bold;
    padding: 6px 3px 1px 3px;
}

.desig, .cont {
    font-size: smaller;
    padding: 3px 3px -1px 0px;
}