.ajax-content-frame {
    width: 550px;
    box-sizing: border-box;
    border: none;
}

.ajax-content-frame table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid grey;
    box-sizing : border-box;
}

.ajax-content-frame th, .ajax-content-frame td {
    text-align: left;
    padding: 8px;
}

#tooltipAjaxSample_Main .logo {
    float: left;
    width: 100px;
    height: 114px;
}

.ajax-content-frame tr:nth-child(even) {
    background-color: #f2f2f2;
}

.ajax-content-frame th {
    background-color: #4CAF50;
    color: white;
}

#tooltipAjaxSample_Main .des {
    width: 230px;
    float: right;
    line-height: 24px;
}