.events-frame{
    box-sizing: border-box;
    border: 1px solid #ccc !important;
    border-radius: 0px;
    padding: 0px;
    text-align: center;
    width : 160px;
}
.events-frame img{
    width : 100%;
}
@media (max-width: 440px){
    .events-frame{
        width : 160px !important;
    }
}
.circle {
    color: white;
    background: #1dabce;
    border-radius: 10px;
    padding: 2px;
}
.image{
    background-color: #ccc;
}
img{
    padding-top: 8px;
}