.tree-view-tooltip {
    margin-bottom: 25px;
    padding: 25px;
    min-width: 250px;
    min-height: 350px;
    overflow: auto;
}
#treeView_Main.e-tooltip-wrap {
    background-color: #ffcccc;
}
#treeView_Main.e-tooltip-wrap .e-arrowTipInner{
    border-color: #ffcccc transparent;
}

#axisValue{
    display : none;
}
#treeView_Main .logo{
    float: left;
    width: 45px;
    height: 50px;
    border: 2px dotted green;
    border-radius: 12px;
    margin-right: 10px;
    margin-bottom: 5px;
}
#treeView_Main .des{
    color : grey;
}
#treeView_Main .artists{
    margin-bottom: 5px;
}
.tree-view-tooltip-frame {
    width: 250px;
    margin: 0 auto;
}