

        .control {
            width: 100%;
        }

            .multipleValue:first-child {
                margin-bottom: 15px;
            }

        .txt {
            display: block;
            margin-bottom: 12px;
        }
        .row [class*="cols-"]:first-child > div:first-child {
           margin: 0 auto;
        }
        .listbox.frame {
            display: table;
            width: auto !important;
            padding: 50px;
        }
        .cols-sample-area
        {
          height:300px;
          padding-top: 35px;
        }
        .frame {
            border: 1px solid #BBBCBB;
            border-radius: 10px;
            padding: 30px 20px;
            width: 350px;
            color: #5C5C5C;
        }