ej-map {
    height: inherit;
    z-index: 0;
    min-height:435px;    
    display: block;
}

  .e-interactiveArrow {
                content: "&#9650";
                font-size: 12px;
                pointer-events: none;
            }

            p.small {line-height:50%;}
            p.big {line-height:110%;}

            .tip1 {
                    border: 1px solid #4D4D4D;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                    border-radius: 7px;
                    margin-right: 25px;
                    min-width: 100px;
                    padding-top: 9px;
                    padding-right: 10px;
                    padding-left: 10px;
                    width: auto;
                    height: auto;
                    background: #4D4D4D;
                }

            .tip1:before {
                position: absolute;
                display: inline-block;
                border-top: 7px solid transparent;
                border-right: 7px solid #4D4D4D;
                border-bottom: 7px solid transparent;
                border-right-color: #4D4D4D;
                left: 11px;
                top: -14px;
                content: '';
            }

            .tip1:after {
                position: absolute;
                display: inline-block;
                border-top: 6px solid transparent;
                border-right: 6px solid #4D4D4D;
                border-bottom: 6px solid transparent;
                left: 13px;
                top: -13px;
                content: '';
            }       