.tooltipDiv 
		{
            background-color:#C1272D !important;        
            color: white;
			width:100px;
        }
        #Tooltip >div:first-child 
		{
            float: left;
        }
        #Tooltip #value {
            float: right;
            height: 50px;
            width: 50px;
            background-color:#C1272D
        }
        #Tooltip #value >div 
		{
            margin: 3px 5px 5px 5px;
            
        }
        #Tooltip #efpercentage
		{
            font-size: 12px;
            font-family: segoe ui;
            color:#E7C554;
			font-weight: bold;
        }
         #Tooltip #ef 
		{
            font-size: 20px;
            font-family: segoe ui;
			font-weight: bold;
             
        }
        #grain 
		{
            background-image: url("grain.png");
            height: 50px;
            width: 50px;
            background-repeat: no-repeat;
        }
